<?xml version="1.0"?>
<!--
/**
 * Copyright © 2018 Crypto. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Payment Method Facade configuration -->
    <virtualType name="CryptoPaymentGatewayFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Crypto\PaymentGateway\Model\Ui\ConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Crypto\PaymentGateway\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">CryptoPaymentGatewayValueHandlerPool</argument>
	    <argument name="validatorPool" xsi:type="object">CryptoPaymentGatewayValidatorPool</argument>
            <argument name="commandPool" xsi:type="object">CryptoPaymentGatewayCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Configuration reader -->
    <virtualType name="CryptoPaymentGatewayConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Crypto\PaymentGateway\Model\Ui\ConfigProvider::CODE</argument>
        </arguments>
    </virtualType>

    <!-- Logger, initialized with CryptoPaymentGatewayConfig -->
    <virtualType name="CryptoPaymentGatewayLogger" type="Magento\Payment\Model\Method\Logger">
        <arguments>
            <argument name="config" xsi:type="object">CryptoPaymentGatewayConfig</argument>
        </arguments>
    </virtualType>

    <type name="Crypto\PaymentGateway\Gateway\Http\Client\ClientMock">
        <arguments>
            <argument name="logger" xsi:type="object">CryptoPaymentGatewayLogger</argument>
        </arguments>
    </type>

    <!-- Commands infrastructure -->
    <virtualType name="CryptoPaymentGatewayCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="authorize" xsi:type="string">CryptoPaymentGatewayAuthorizeCommand</item>
                <item name="capture" xsi:type="string">CryptoPaymentGatewayCaptureCommand</item>
                <item name="void" xsi:type="string">CryptoPaymentGatewayVoidCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Authorize command -->
    <virtualType name="CryptoPaymentGatewayAuthorizeCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">CryptoPaymentGatewayAuthorizationRequest</argument>
            <argument name="handler" xsi:type="object">CryptoPaymentGatewayResponseHandlerComposite</argument>
            <argument name="transferFactory" xsi:type="object">Crypto\PaymentGateway\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">Crypto\PaymentGateway\Gateway\Http\Client\ClientMock</argument>
        </arguments>
    </virtualType>

    <!-- Authorization Request -->
    <virtualType name="CryptoPaymentGatewayAuthorizationRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="transaction" xsi:type="string">Crypto\PaymentGateway\Gateway\Request\AuthorizationRequest</item>
                <item name="mockData" xsi:type="string">Crypto\PaymentGateway\Gateway\Request\MockDataRequest</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Crypto\PaymentGateway\Gateway\Request\AuthorizationRequest">
        <arguments>
            <argument name="config" xsi:type="object">CryptoPaymentGatewayConfig</argument>
        </arguments>
    </type>

    <!-- Capture command -->
    <virtualType name="CryptoPaymentGatewayCaptureCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">Crypto\PaymentGateway\Gateway\Request\CaptureRequest</argument>
            <argument name="handler" xsi:type="object">Crypto\PaymentGateway\Gateway\Response\TxnIdHandler</argument>
            <argument name="transferFactory" xsi:type="object">Crypto\PaymentGateway\Gateway\Http\TransferFactory</argument>
            <argument name="validator" xsi:type="object">Crypto\PaymentGateway\Gateway\Validator\ResponseCodeValidator</argument>
            <argument name="client" xsi:type="object">Crypto\PaymentGateway\Gateway\Http\Client\ClientMock</argument>
        </arguments>
    </virtualType>

    <!-- Capture Request -->
    <type name="Crypto\PaymentGateway\Gateway\Request\CaptureRequest">
        <arguments>
            <argument name="config" xsi:type="object">CryptoPaymentGatewayConfig</argument>
        </arguments>
    </type>

    <!-- Void command -->
    <virtualType name="CryptoPaymentGatewayVoidCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">Crypto\PaymentGateway\Gateway\Request\VoidRequest</argument>
            <argument name="handler" xsi:type="object">Crypto\PaymentGateway\Gateway\Response\TxnIdHandler</argument>
            <argument name="transferFactory" xsi:type="object">Crypto\PaymentGateway\Gateway\Http\TransferFactory</argument>
            <argument name="validator" xsi:type="object">Crypto\PaymentGateway\Gateway\Validator\ResponseCodeValidator</argument>
            <argument name="client" xsi:type="object">Crypto\PaymentGateway\Gateway\Http\Client\ClientMock</argument>
        </arguments>
    </virtualType>

    <!-- Void Request -->
    <type name="Crypto\PaymentGateway\Gateway\Request\VoidRequest">
        <arguments>
            <argument name="config" xsi:type="object">CryptoPaymentGatewayConfig</argument>
        </arguments>
    </type>

    <!-- Response handlers -->
    <virtualType name="CryptoPaymentGatewayResponseHandlerComposite" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="txnid" xsi:type="string">Crypto\PaymentGateway\Gateway\Response\TxnIdHandler</item>
                <item name="fraud" xsi:type="string">Crypto\PaymentGateway\Gateway\Response\FraudHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Value handlers infrastructure -->
    <virtualType name="CryptoPaymentGatewayValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">CryptoPaymentGatewayConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="CryptoPaymentGatewayConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">CryptoPaymentGatewayConfig</argument>
        </arguments>
    </virtualType>
    <!-- Crypto validators infrastructure -->
    <virtualType name="CryptoPaymentGatewayCountryValidator" type="Magento\Payment\Gateway\Validator\CountryValidator">
        <arguments>
            <argument name="config" xsi:type="object">CryptoPaymentGatewayConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="CryptoPaymentGatewayValidatorPool" type="Magento\Payment\Gateway\Validator\ValidatorPool">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="country" xsi:type="string">CryptoPaymentGatewayCountryValidator</item>
            </argument>
        </arguments>
    </virtualType>
    <!-- Crypto validators infrastructure -->
    <type name="Crypto\PaymentGateway\Block\Info">
        <arguments>
            <argument name="config" xsi:type="object">CryptoPaymentGatewayConfig</argument>
        </arguments>
    </type>
    <preference for="Crypto\PaymentGateway\Api\CryptoOrdersManagementInterface" type="Crypto\PaymentGateway\Model\CryptoOrdersManagement"/>
	<preference for="Crypto\PaymentGateway\Api\CryptoTransactionInterface" type="Crypto\PaymentGateway\Model\CryptoTransaction"/>
	
</config>
